body {
    background-color: #FFFCF2;
    font-family: 'Roboto Slab', serif;
}

/* Heading styles */

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #132743;
    margin-left: 10%;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 400;
    color: #132743;
    margin-left: 10%;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 400;
    color: #132743;
    text-align: left;
}

h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    font-weight: 400;
    color: #132743;
}

h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    color: #132743;
}

h6 {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    color: #132743;
}

/* navigation styling */

.navigation header{
    width: 100%;
    background-color: #fffcf2;
}

.logo {
    width: 10%;
}

ul {
    margin-left: 65%;
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
}

li {
    text-align: center;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    color: #132743;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #132743;
    display: inline-block;
}

a {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #132743;
    display: inline-block;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

/* Content section */


.content section {
width: 100%;
height: auto;
margin-bottom: 20%;
}


.hero {
    width: 35%;
    float: right;
    margin-top: 5%;
    margin-right: 10%;
}

.hero img {
    width: 70%;
}

.content h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 400;
    color: #132743;
    margin-left: 10%;
}

button { 
    width: auto;
    border: none;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #132743;
    display: block;
}

.content button {
    margin-top: 30%;
}

#transparent {
    width: auto;
    margin-left: 10%;
    margin-top: 20%;
    background-color: transparent;
    border: none;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #132743;
    text-decoration: underline;
}

/* HW 18- Flex Container*/


.mySkills > h1 {
    margin-top: 15%;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.flexContainer > div {
    width: 30%;
    margin: 0 auto;
    padding: 5%;
}


.flexContainer > div > img {
    width: 99%;
}


/*HW 18- Work Grid */

.workGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "div img div h4 p button";
}

.workGrid > div {
    margin: 5%;
}

.workGrid > div > img {
    width: 95%;
}

.workGrid > div > h4 {
    margin: 5%;
}

.workGrid > div > p {
    margin: 5%;
}

.workGrid > div > button {
    margin: 5%;
}

.myWork h3 { 
    margin-top: 5%;
    text-align: center;
}


footer {
   margin-top: 10%;
    width: 100%;
    border-top: 1px solid #132743;
}

footer a {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #132743;
    display: inline-block;
    text-decoration: none;
}

.email{
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: #132743;
    display: inline-block;
    margin-left: 5%;
}

.copyright{
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: #132743;
    display: inline-block;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.social {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: #132743;
    display: inline-block;
    margin-right: 5%;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .flexContainer {
        display: flex;
        flex-direction: column;
    }

    .flexContainer > div {
        width: 100%;
    }

    .flexContainer > div > img {
        width: 75%;
    }

    .workGrid {
        margin: 0px 5%;
        grid-template-rows: 20% 20% 20% 20% 20% 20%;
        grid-template-columns: 1fr;
        grid-template-areas: "div img"
        "div h4 p button"
        "div img"
        "div h4 p button"
        "div img"
        "div h4 p button";
    }

    .workGrid > div {
        margin: 5%;
    }

    .workGrid > div > img {
        width: 95%;
    }
    
    .workGrid > div > h4 {
        margin: 5%;
    }
    
    .workGrid > div > p {
        margin: 5%;
    }
    
    .workGrid > div > button {
        margin: 5%;
    }

    .myWork h3{
        margin-top: 50%;
        text-align: center;
    }
}